:root {
  --commonText-color: rgb(16, 42, 66);
  --white-color: #fff;
}

/**
* !  changing and removing  default values
**/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/hero.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/**
* !  Banner Styles here =>
**/
.banner {
  max-width: 600px;
  width: 80vw;
  min-width: 250px;
  background-color: var(--white-color);
  padding: 6rem 2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.banner-title {
  font-size: 5rem;
  color: var(--commonText-color);
  letter-spacing: 3px;
}
.banner-btn {
  padding: 0.8rem 1.4rem;
  font-size: 1.7rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 4rem;
  background-color: rgb(73, 166, 233);
  color: var(--white-color);
  border-radius: 1.4rem;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.banner-btn:hover {
  background-color: var(--white-color);
  border: 2px solid rgb(73, 166, 233);
  color: rgb(73, 166, 233);
  box-shadow: 0 0 2px rgba(73, 166, 233, 0.7);
}

/**
* !  Modal styles here =>
**/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-content {
  max-width: 600px;
  height: 25vh;
  width: 80vw;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--white-color);
}
.modal-header {
  text-align: right;
}
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-x {
  color: rgb(132, 6, 6);
  font-size: 2.1rem;
  transition: all 0.3s;
  cursor: pointer;
}
.fa-x:hover {
  transform: scale(1.2);
  color: rgba(255, 2, 2, 0.7);
}
.modal-title {
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: var(--commonText-color);
}
.active {
  display: flex;
}
@media screen and (max-width: 900px) {
  html {
    font-size: 58%;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 38%;
  }
}
